@font-face {
   font-family: 'cambriab';
   font-display: swap;
   src: url('file:///C:/Users/jose.pena/AppData/Local/Mobirise.com/Mobirise/projects/project-2019-03-29_102145/fonts/cambriab/font.ttf');
}
